body {
	background-color: #fff;
}

.navbar-light {
	.navbar-brand {
		font-weight: 700;
		font-size: 24px;
	}
	.navbar-nav {
		.nav-link {
			color: #c1cbd6;

			&.active {
				font-weight: bold;
				color: #344357 !important;
			}
		}

		.nav-link:hover::after {
			content: '';
			display: block;
			border-bottom: 3px solid #536c7a;
			width: 60%;
			padding-bottom: 5px;
			margin-bottom: -8px;
		}
	}
}
