body {
	background-color: #fff;
}

.navbar-light {
	.navbar-brand {
		font-weight: 700;
		font-size: 24px;
	}
	.navbar-nav {
		.nav-link {
			color: #c1cbd6;

			&.active {
				font-weight: bold;
				color: #344357 !important;
			}
		}

		.nav-link:hover::after {
			content: '';
			display: block;
			border-bottom: 3px solid #536c7a;
			width: 60%;
			padding-bottom: 5px;
			margin-bottom: -8px;
		}
	}
}

header {
	.hero {
		h2 {
			margin-top: 60px;
			font-weight: 700;
			font-size: 45px;
		}

		p {
			font-size: 20px;
			font-weight: 600;
			color: #636e72;
		}

		.btn-get-started {
			background-color: #344357;
			color: #fff;

			&:hover {
				background-color: #536c7a;
				color: #fff;
			}
		}
	}
}

// Section Adels
.section-adels {
	margin-top: 50px;

	.services {
		color: #536c7a;
	}

	.box {
		padding: 50px 30px;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		transition: all ease-in-out 0.3s;

		span {
			display: block;
			font-size: 28px;
			font-weight: 700;
			color: #b9b9fa;
		}

		h4 {
			font-size: 24px;
			font-weight: 600;
			padding: 0;
			margin: 20px 0;
			color: #144862;
		}

		p {
			color: #aaaaaa;
			font-size: 15px;
			margin: 0;
			padding: 0;
		}
	}

	.box:hover {
		background: #1e6c94;
		padding: 30px 30px 70px 30px;
		box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);

		span,
		h4,
		p {
			color: #fff;
		}
	}
}

// Section Partner
.section-network {
	padding-top: 135px;
	padding-bottom: 50px;

	h2 {
		font-weight: bold;
	}

	img {
		max-width: 100%;
	}
}
